# Ejercicio 6 de Intervalos de confianza

In [1]:
from scipy import stats as st
import numpy as np
import pandas as pd

In [5]:
round(st.norm.ppf(0.975), 4)

1.96

# Ejercicio 7

In [7]:
data = pd.read_csv(r'C:\Users\Diego\Documents\UBA\Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [11]:
x = data['Mem_Score_After']
prom = x.mean()
sd = x.std()

IC = [round(prom-st.norm.ppf(0.975)*sd/np.sqrt(len(x)),4), round(prom+st.norm.ppf(0.975)*sd/np.sqrt(len(x)), 4)]
IC

[58.3964, 63.4481]

# Test de hip√≥tesis
## Ejercicio 2

### Suponemos tita = 3 y n=20

In [15]:
x = st.uniform.rvs(0,3, size=20)
np.round(x, 4)

array([2.8822, 1.4889, 1.4164, 0.8859, 1.122 , 2.6166, 0.4291, 0.6749,
       1.3365, 0.4681, 0.5905, 2.6809, 2.6934, 2.9358, 1.2552, 2.4628,
       1.6368, 0.4433, 2.1639, 2.6714])

In [16]:
round(max(x)/2.5, 4)

1.1743

### Calculamos k(0.05)

In [17]:
round(0.95**(1/20), 4)

0.9974

In [19]:
round(st.norm.ppf(0.99), 4)

2.3263