# Entrenamiento 2: Pauta Publicitaria

<b>Contexto</b>

La idea de este notebook es plantearles un problema con datos tomados del Gobierno de la Ciudad de Buenos Aires [BA Data](https://data.buenosaires.gob.ar/dataset/pauta-publicitaria).

<b>Contenido</b>

Este dataset contiene la información respecto a gasto en pauta publicitaria realizada por el Gobierno de la Ciudad de Buenos Aires en el año 2020. Es facil de tratar ya que el mismo solo contiene tres columnas:

* Fecha
* Medio
* Importe

<b>El objetivo</b> este entrenamiento tiene solo una restricción que es usar algún algoritmo de aprendizaje no supervisado para sacar alguna información interesante del mismo. ¿Es esto posible?

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('BA_DATA_2020 _PAUTA_PUBLICITARIA_EN_RADIO.csv')

In [42]:
df

           Fecha               Medio         Importe
0     20/01/2020       FM 95.1 METRO   $ 512.435,00
1     20/01/2020  AM 790 RADIO MITRE   $ 480.000,00
2     20/01/2020      FM 99.9 LA 100   $ 406.560,00
3     20/01/2020       AM 990 LA 990   $ 310.495,68
4     20/01/2020  AM 790 RADIO MITRE   $ 258.456,00
...          ...                 ...             ...
2558  23/12/2020    FM 92.1 VORTERIX   $ 202.211,33
2559  23/12/2020      FM 102.3 ASPEN   $ 169.884,00
2560  23/12/2020       AM 910 LA RED   $ 162.624,00
2561  23/12/2020          AM 950 CNN   $ 151.250,00
2562  28/12/2020       FM 95.1 METRO   $ 100.000,00

[2563 rows x 3 columns]