# Bienvenidos a la clase 5: AutoML

En esta notebook veremos en acci√≥n Pycaret una de las librerias de automl que nos permite probar varios modelos a la vez de manera muy rapida.  Primero instalemos las librerias mediante el uso de los siguientes dos comandos:

```
pip install pycaret
pip install mlflow
pip install gradio
```

In [1]:
import mlflow
from pycaret.classification import *
from pycaret.datasets import get_data

In [2]:
# cargamos el dataset
data = get_data('credit')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,90000,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
2,50000,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
3,50000,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
4,50000,1,1,2,37,0,0,0,0,0,0,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0

In [3]:
# Instanciamos la configuraci√≥n: setup
clf1 = setup(data, target = 'default', log_experiment = True, experiment_name = 'credit1',use_gpu=True, silent=True)

2022/09/17 13:09:04 INFO mlflow.tracking.fluent: Experiment with name 'credit1' does not exist. Creating a new experiment.

In [4]:
# model training
best_model = compare_models()

In [7]:
# inicializar server en consola !mlflow ui y luego ir a https://localhost:5000

Utilicemos una regresion logistica.

In [5]:
lda = create_model('lda')

In [ ]:
# Creemos una app!!
create_app(lda)

In [9]:
# cargamos otro dataset 
juice = get_data('juice')
exp_name = setup(data = juice,  target = 'Purchase',fix_imbalance=True, log_experiment = True, experiment_name = 'juice',use_gpu=True)

In [10]:
# entrenamos el modelo a model
dt = create_model('dt')

In [11]:
# creamos la api
create_api(dt, 'dt_api')

API sucessfully created. This function only creates a POST API, it doesn't run it automatically.

To run your API, please run this command --> !python dt_api.py

In [12]:
!python dt_api.py #You can see the server on localhost:8000/docs  https://www.youtube.com/watch?v=88M9c5Hc-k0

^C

In [15]:
evaluate_model(dt)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param‚Ä¶